<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>user</param-name>
        <param-value>3.guest</param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Location</servlet-name>
        <servlet-class>Controllers.Location.Location</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>Controllers.Student.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classes</servlet-name>
        <servlet-class>Controllers.Classes.Classes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleLocation</servlet-name>
        <servlet-class>Controllers.Location.HandleLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleStudent</servlet-name>
        <servlet-class>Controllers.Student.HandleStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGuard</servlet-name>
        <servlet-class>Controllers.HandleGuard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Controllers.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>Controllers.Login.Forget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controllers.Login.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOldPass</servlet-name>
        <servlet-class>Controllers.checkOldPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controllers.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfo</servlet-name>
        <servlet-class>Controllers.ChangeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controllers.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Location</servlet-name>
        <url-pattern>/Location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classes</servlet-name>
        <url-pattern>/Classes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleLocation</servlet-name>
        <url-pattern>/HandleLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleStudent</servlet-name>
        <url-pattern>/HandleStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGuard</servlet-name>
        <url-pattern>/HandleGuard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOldPass</servlet-name>
        <url-pattern>/checkOldPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfo</servlet-name>
        <url-pattern>/ChangeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
</web-app>
